html {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calculator {
	background: white;
	width: 400px;
	border-radius: 12px;
	box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

.calculator-display {
	background: rgb(50, 50, 50);
	color: rgb(239, 239, 239);
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
	margin: 0;
	padding: 25px;
	font-size: 45px;
	font-family: "Lucida Console", sans-serif;
	font-weight: 100;
	overflow-x: auto;
	transition: ease-in 0.3s;
}

/* scroll */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* buttons */
.calculator-buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	padding: 10px;
}

button {
	min-height: 50px;
	font-size: 20px;
	font-weight: 100;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background: rgb(225, 225, 225);
}
button:hover {
	background: rgb(155, 155, 155);
	color: rgb(218, 218, 218);
}
button:active {
	transform: translateY(2px);
}
button:focus {
	outline: none;
}
.operator {
	background: rgb(179, 179, 179);
	color: whitesmoke;
	font-size: 30px;
}
.operator:hover {
	background: rgb(128, 128, 128);
}

.clear {
	background: rgb(216, 44, 44);
	color: whitesmoke;
}
.clear:hover {
	background: rgb(143, 17, 17);
}

.equal-sign {
	grid-column: -2;
	grid-row: 2 / span 4;
	background: dodgerblue;
}
.equal-sign:hover {
	background: rgb(14, 107, 199);
}

/* media queries: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
	.calculator {
		width: 95%;
	}
}